{% extends "material/frontend/base_menu.html" %}

{% block menu_toggle_label %}{% endblock %}

{% block app_menu_items %}
  <li>
    <a href="{% url 'workflows:overview' %}">
      <i class="material-icons">insights</i>Workflow overview
    </a>
  </li>
  <li>
    <a href="{% url 'workflows:board' %}">
      <i class="material-icons">fact_check</i>Tableau des workflows
    </a>
  </li>
  <li>
    <a href="{% url 'workflows:my_tasks' %}">
      <i class="material-icons">assignment_ind</i>Mes taches
    </a>
  </li>
{% endblock %}
