{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"fr" }}">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        {% block turbolinks-cache-control %}<meta name="turbolinks-cache-control" content="no-cache">{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block favicon %}<link href="{% static 'imgs/cintamaya_logo.ico' %}" rel="icon" type="image/x-icon">{% endblock %}
        {% block css %}
        {% include 'material/frontend/includes/material_css.html' %}
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        {% endblock css %}
        {% block js %}{% include 'material/frontend/includes/material_js.html' %}{% endblock js %}
        {% block extrahead %}{% endblock %}
        {% endblock head %}
    </head>
    <body class="{%block bodyclass %}with-sidebar{% endblock %}"><dmc-turbolinks/>
        {% block body %}
        <header>
            {% block header %}
            <dmc-sidenav>
                <ul id="slide-out" class="sidenav sidenav-fixed">
                    {% block sidenav_header %}
                    <li>
                        <div class="user-view">
                            {% comment %} {% block userphoto %}
                            {% if user.photo.url %}
                            <a href="#"><img class="circle" src="{{ user.photo.url }}"></a>
                            {% else %}
                            <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
                            {% endif %}
                            {% endblock %} {% endcomment %}
                            <div class="chip user-identity-chip light-blue lighten-5">
                                <span class="user-identity-chip__name">{{ request.user.get_username|title }}</span>
                                <span class="user-identity-chip__email">{{ request.user.email }}</span>
                            </div>
                            <a href="{% url 'account:profile' %}"
                               class="btn waves-effect waves-light cinta-btn-primary my-account__link"
                               style="margin-top:0.75rem; min-width:170px; text-align:center;">
                                <i class="material-icons left">person</i>Mon compte
                            </a>
                        </div>
                    </li>
                    {% endblock %}
                    <li class="sidenav-modules">
                        <ul class="sidenav-modules__list">
                            {% block sidenav_items %}
                            {% for module in modules %}
                            {% if current_module == module and forloop.last %}
                            <li class="active last">
                                {% include module.menu with module=module %}
                            </li>
                            {% elif current_module == module %}
                            <li class="active">
                                {% include module.menu with module=module %}
                            </li>
                            {% elif forloop.last %}
                            <li class="last">
                                {% include module.menu with module=module %}
                            </li>
                            {% else %}
                            <li>
                                {% include module.menu with module=module %}
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% endblock sidenav_items %}
                        </ul>
                    </li>
                    {% block sidenav_global_actions %}
                    {% if request.user.is_authenticated %}
                    <li class="sidenav-notifications">
                        <a href="{% url 'workflows:notifications' %}"
                           class="cinta-btn-secondary cinta-btn-secondary--block"
                           data-turbolinks="false">
                            <i class="material-icons" style="margin:0;" aria-hidden="true">notifications</i>
                            <span class="sidenav-notifications__text">{% trans "Notifications" %}</span>
                            <span class="chip red darken-1 white-text sidenav-notifications__badge" role="status">
                                {{ workflow_unread_notification_count|default:0 }}
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% endblock sidenav_global_actions %}
                    {% block sidenav_footer %}
                    <li class="sidenav-footer">
                        <img src="{% static 'imgs/cintamata_logo_typogramme_signature.png' %}" alt="Logo CINTAMATA">
                    </li>
                    {% endblock sidenav_footer %}
                </ul>
            </dmc-sidenav>
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% block topbar %}
            <nav class="topbar">
                <div class="nav-wrapper">
                    {% comment %} <dmc-sidenav-trigger><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></dmc-sidenav-trigger> {% endcomment %}
                    <div class="brand-logo">
                        {% block page_title %}{% endblock %}
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% block topbar_links %}
                        {% if user.is_authenticated %}
                         <li>
                             <a href="{% url 'logout' %}"
                                class="btn waves-effect waves-light cinta-btn-primary"
                                data-turbolinks="false"
                                style="display:inline-flex; align-items:center; gap:0.35rem;">
                                 <i class="material-icons" style="margin:0;">exit_to_app</i>Deconnexion
                             </a>
                         </li>
                        {% else %}
                        <li><a href="{% url 'login' %}" data-turbolinks="false"><i class="material-icons right">lock_open</i>Connexion</a></li>
                        {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </nav>
            {% endblock topbar %}
            {% comment %} {% block breadcrumbs %}
            <nav class="breadcrumbs">
                <div class="nav-wrapper">
                    {% block breadcrumbs_items %}{% endblock %}
                </div>
            </nav>
            {% endblock %} {% endcomment %}
            {% block main_content %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            {% endblock main_content %}
            {% endblock main %}
        </main>
        <footer>
            {% block footer %}{% endblock footer %}
        </footer>
        {% endblock %}
        {% block messages %}
        <dmc-snackbar>
            {% for message in messages %}
            <p class="alert-{{ message.tags }}">{{ message|capfirst }}</p>
            {% endfor %}
        </dmc-snackbar>
        {% endblock messages %}
    </body>
</html>
