{% extends current_module.base_template %}

{% block content %}
  <div class="card cinta-card">
    <div class="card-content">
      <h5>Importer un DAT</h5>
      <p class="flow-text dat-import__subtitle">
      </p>
      <form method="post" enctype="multipart/form-data" class="cinta-form u-mt-1-5">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <p class="red-text text-darken-2">{{ form.non_field_errors|join:" " }}</p>
        {% endif %}
        <div class="file-field input-field">
          <div class="btn cinta-btn-primary">
            <span>Sélectionner un fichier</span>
            {{ form.data_file }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Fichier JSON du DAT" disabled />
          </div>
          {% if form.data_file.errors %}
            <span class="helper-text red-text text-darken-2">{{ form.data_file.errors|join:" " }}</span>
          {% else %}
            <span class="helper-text"></span>
          {% endif %}
        </div>
        <div class="input-field">
          {{ form.reference_override.label_tag }}
          {{ form.reference_override }}
          {% if form.reference_override.errors %}
            <span class="helper-text red-text text-darken-2">{{ form.reference_override.errors|join:" " }}</span>
          {% elif form.reference_override.help_text %}
            <span class="helper-text">{{ form.reference_override.help_text }}</span>
          {% endif %}
        </div>
        <button type="submit" class="btn waves-effect waves-light cinta-btn-primary">
          <i class="material-icons left" aria-hidden="true">file_upload</i>
          Importer le DAT
        </button>
      </form>
    </div>
  </div>
{% endblock %}
