{% extends current_module.base_template %}
{% load material_form material_frontend %}
{% block breadcrumbs_items %}
  <a href="{% url 'dat:my_list' %}">Mes DAT</a>
  {% if object.pk %}
    <a class="active">Modifier {{ object }}</a>
  {% else %}
    <a class="active">Nouveau DAT</a>
  {% endif %}
{% endblock %}
{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% form form=form %}
      {% part form reference %}{% endpart %}
      {% part form title %}{% endpart %}
      {% part form description %}{% endpart %}
      {% part form status %}{% endpart %}
      {% part form owner %}{% endpart %}
    {% endform %}
    <div class="right-align">
      <button type="submit" class="btn waves-effect waves-light">Enregistrer</button>
      <a href="{% url 'dat:my_list' %}" class="btn-flat waves-effect">Annuler</a>
    </div>
  </form>
{% endblock %}
