{% extends current_module.base_template %}

{% block page_title %}Mon compte{% endblock %}

{% comment %} {% block breadcrumbs_items %}
  <a href="{% url 'account:profile' %}">Profil</a>
  <a class="active">Mot de passe mis a jour</a>
{% endblock %} {% endcomment %}

{% block content %}
<div class="card cinta-card">
  <div class="card-content">
    <span class="card-title">Mot de passe mis a jour</span>
    <p>Votre mot de passe a ete modifie avec succes.</p>
  </div>
  <div class="card-action">
    <a href="{% url 'account:profile' %}" class="btn waves-effect waves-light cinta-btn-primary">
      <i class="material-icons left">person</i>Retour au profil
    </a>
  </div>
</div>
{% endblock %}
