{% extends current_module.base_template %}
{% load i18n %}

{% block page_title %}{% trans "My Account" %}{% endblock %}

{% block breadcrumbs_items %}
  <a href="{% url 'account:profile' %}">{% trans "Profile" %}</a>
  <a class="active">{% trans "Password Updated" %}</a>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{% trans "Password Updated" %}</span>
    <p>{% trans "Your password has been changed successfully." %}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'account:profile' %}" class="btn waves-effect">
      <i class="material-icons left">person</i>{% trans "Back to profile" %}
    </a>
  </div>
</div>
{% endblock %}
