{% extends current_module.base_template %}
{% load i18n material_frontend material_form %}

{% block page_title %}{% trans "My Account" %}{% endblock %}

{% block breadcrumbs_items %}
  <a href="{% url 'account:profile' %}">{% trans "Profile" %}</a>
  <a class="active">{% trans "Change Password" %}</a>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{% trans "Change Password" %}</span>
    <form method="post" novalidate>
      {% csrf_token %}
      {% form form=form %}{% endform %}
      <div class="form-actions" style="margin-top:1.5rem;">
        <button type="submit" class="btn waves-effect">
          <i class="material-icons left">save</i>{% trans "Update Password" %}
        </button>
        <a href="{% url 'account:profile' %}" class="btn-flat waves-effect">
          {% trans "Cancel" %}
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
